<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Cadastrar Conta</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${conta.id == null}">Cadastrar Conta</h1>
		<h1 th:if="${conta.id != null}">Edita Informações de Conta</h1>
		
		<form th:action="@{/conta}" th:method="@{${conta.id == null} ? 'post' : 'put'}"
			th:object="${conta}">
			<input type="hidden" th:field="*{id}" /> 
			
				<div class="form-group"> 
					<label for="name">Nome</label>  
					<input id="name" name="name" type="text" class="form-control" th:field="*{name}" required/>  
				</div> 
			
				<div class="form-group"> 
					<label for="code">Email</label>  
					<input id="code" name="code" type="email" class="form-control" th:field="*{code}" required/>  
				</div> 
				
				<div class="form-group"> 
					<label for="password">Senha</label>  
					<input id="password" name="password" type="password" class="form-control" th:field="*{password}" required />
				</div> 
				
			<button th:if="${conta.id == null}" type="submit" class="btn btn-success">Cadastrar</button>
			<button th:if="${conta.id != null}" type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/conta}" class="btn btn-default btn-danger">Cancelar</a>
		</form>
	</div>
</body>
</html>