	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Lista de usuários</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Lista de usuários</h1>
		<hr />
		<a th:href="@{/conta/new}" class="btn btn-success">Cadastrar Usuário</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th> 
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="conta : ${listconta}">
					<td th:text="${conta.name}"></td> 
					<td th:text="${conta.code}"></td> 
					<td>
							<a th:href="@{/conta/{id}(id = ${conta.id})}" class="btn btn-primary">Perfil</a> 
					 		<a th:href="@{/conta/{id}/edit(id = ${conta.id})}" class="btn btn-info">Editar</a> 
							<a th:href="${'conta/'+ conta.id+'/delete'}" class="btn btn-danger">Deletar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>