<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Perfil</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Perfil</h1>
		
		<a th:href="@{/produtos/new}" class="btn btn-primary">Cadastrar Produto</a>
		<a th:href="@{/conta/{id}/edit(id = ${conta.id})}" class="btn btn-info">Editar</a>
		<a th:href="${conta.id +'/delete'}" class="btn btn-danger">Delete Conta</a>
		
		<hr />
		
		<div class="form-group"> 
			<label for="name">Name: </label>  
			<span th:text="${conta.name}"></span> 
		</div> 
		
		<div class="form-group"> 
			<label for="code">Email: </label>  
			<span th:text="${conta.code}"></span> 
		</div> 
		
		<table class="table">
			<thead>
				<tr>
					<th>Produto</th> 
					<th>Valor</th>
					<th>Vendido</th>
					<th>Ação</th> 
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${conta.produtos}">
					<td th:text="${produto.nome}"></td> 
					<td th:text="${produto.valor}"></td>
					<td th:if="${produto.vendido == true}" th:text="Sim"></td>
					<td th:if="${produto.vendido == false}" th:text="Não"></td>
					<td>
							<a th:href="@{/produtos/{id}(id = ${produto.id})}" class="btn btn-primary" >Mostrar</a> 
					 		<a th:href="@{/produtos/{id}/edit(id = ${produto.id})}" class="btn btn-info">Editar</a> 
					 		<a th:href="${'/produtos/'+ produto.id +'/delete'}" class="btn btn-danger">Deletar</a>
					 		<a th:if="${produto.vendido == true}" th:href="${'/produtos/'+ produto.id +'/vender'}" class="btn btn-success">Cancelar Venda</a>
					 		<a th:if="${produto.vendido == false}" th:href="${'/produtos/'+ produto.id +'/vender'}" class="btn btn-success">Vendido</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>