<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Busca de Produtos</title>
	</head>
	<body>
		<div layout:fragment="content">
		<h1>Produtos encontrados pela busca de <td th:text="${busca}"></td></h1>
		<hr />
		
		<h2>Organizar por: </h2>
		<div>
			<table class="table">
				<tbody>
					<td>
						<form th:action="@{/produtos/search}" th:method="get" th:object="${produtoBuscado}">
							<input type="hidden" name="nome" th:field="*{nome}"></input>
							<input type="hidden" name="ord" value="1"/>
							
							<button type="submit" class="btn btn-success">Menor Valor</button>
						</form>
					</td> 
					<td>
						<form th:action="@{/produtos/search}" th:method="get" th:object="${produtoBuscado}">
							<input type="hidden" name="nome" th:field="*{nome}"></input>
							<input type="hidden" name="ord" value="2"/>
							
							<button type="submit" class="btn btn-success">Maior Valor</button>
						</form>
					</td> 
					<td>
						<form th:action="@{/produtos/search}" th:method="get" th:object="${produtoBuscado}">
							<input type="hidden" name="nome" th:field="*{nome}"></input>
							<input type="hidden" name="ord" value="3"/>
							
							<button type="submit" class="btn btn-success">Mais recente</button>
						</form>
					</td>
					<td>
						<form th:action="@{/produtos/search}" th:method="get" th:object="${produtoBuscado}">
							<input type="hidden" name="nome" th:field="*{nome}"></input>
							
							<button type="submit" class="btn btn-success">Mais antigo</button>
						</form>
					</td>  
				</tbody>
			</table>
		</div>
		<hr />
		
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th> 
					<th>Descrição</th> 
					<th>Valor</th>
					<th>CEP</th> 
					<th>Vendedor</th>
					<th>Contato</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td th:text="${produto.nome}"></td> 
					<td th:text="${produto.descricao}"></td> 
					<td th:text="${produto.valor}"></td>
					<td th:text="${produto.cep}"></td>
					<td th:text="${produto.module.name}"></td>
					<td th:text="${produto.module.code}"></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</body>
</html>