<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Mostrar Produto</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>Mostrar Produto</h1>
			<hr />
			<div class="form-group"> 
				<label for="nome">Nome: </label>  
				<span th:text="${produto.nome}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="descricao">Email: </label>  
				<span th:text="${produto.descricao}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="valor">Valor: R$</label>  
				<span th:text="${produto.valor}"></span> 
			</div>
			<div class="form-group"> 
				<label for="cep">CEP: </label>  
				<span th:text="${produto.cep}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="vendido">Vendido: </label>  
				<span th:if="${produto.vendido == true}" th:text="Sim"></span> 
				<span th:if="${produto.vendido == false}" th:text="Não"></span> 
			</div>
			<a th:href="@{/produtos}" class="btn btn-primary" >Voltar para a lista de produtos</a> 
			<a th:href="@{/produtos/{id}/edit(id = ${produto.id})}" class="btn btn-info">Editar este registro</a>
			<a th:href="${produto.id +'/delete'}" class="btn btn-danger">Deletar este registro</a>
			
		</div>
	</body>
</html>