<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Novo Produto</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${produto.id == null}">Novo Produto</h1>
		<h1 th:if="${produto.id != null}">Editar Produto</h1>
		<hr />
		<form th:action="@{/produtos}"
			th:method="@{${produto.id == null} ? 'post' : 'put'}"
			th:object="${produto}">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="nome">Nome</label> <input id="nome" name="nome"
					type="text" class="form-control" th:field="*{nome}" required />
			</div>
			<div class="form-group">
				<label for="descricao">Descrição</label> <input id="descricao" name="descricao"
					type="text" class="form-control" th:field="*{descricao}" required />
			</div>
			<div class="form-group">
				<label for="valor">Valor</label> <input
					id="valor" name="valor" type="number" step="any"
					class="form-control" th:field="*{valor}" required />
			</div>
			<div class="form-group">
				<label for="cep">CEP</label> <input
					id="cep" name="cep" type="text"
					class="form-control" th:field="*{cep}" required />
			</div>
			 
			 <div class="form-group" th:object="${module}">
				 <select name="module.id" class="form-control" required >
					 <option value="">Selecione o Vendedor</option>
			 		 <option th:each="module : ${modules}" th:value="${module.id}" th:text="${module.name}"></option>
				</select>	
			 </div>

			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/produtos}" class="btn btn-default">Voltar</a>
		</form>
	</div>
</body>
</html>