<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Lista de Produtos</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Lista de Produtos</h1>
		<hr />
		<a th:href="@{/produtos/new}" class="btn btn-success">Novo Produto</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th> 
					<th>Descrição</th> 
					<th>Valor</th>
					<th>CEP</th> 
					<th>Vendedor</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${listProduto}">
					<td th:text="${produto.nome}"></td> 
					<td th:text="${produto.descricao}"></td> 
					<td th:text="${produto.valor}"></td>
					<td th:text="${produto.cep}"></td>
					<td th:text="${produto.module}"></td>  
					<td>
							<a th:href="@{/produtos/{id}(id = ${produto.id})}" class="btn btn-primary" >Mostrar</a> 
					 		<a th:href="@{/produtos/{id}/edit(id = ${produto.id})}" class="btn btn-info">Editar</a> 
					 		<a th:href="${'produtos/'+ produto.id +'/delete'}" class="btn btn-danger">Deletar</a>
					</td>
				</tr>
			</tbody>
		</table>
	  </div>
	  
	  
</body>
</html>